server {
  listen 80;
  listen [::]:80;

  root /var/www/calibre-{{ calibre_web.name }};

  server_name {{ calibre_web.name }}.{{ calibre_web.domain }};

  location / {
    proxy_bind              $server_addr;
    proxy_pass              http://127.0.0.1:{{ calibre_web.port }};
    proxy_set_header        Host            $http_host;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Scheme        $scheme;
    proxy_set_header        X-Script-Name   /calibre-{{ calibre_web.name }};
  }

    listen 443 ssl; # managed by Certbot
    # TODO what to do with this ! auto gen ?
    ssl_certificate /etc/letsencrypt/live/alexandrie.alxs.fr/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/alexandrie.alxs.fr/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot

    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    } # managed by Certbot
}
